<div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight">
        <a class="btn btn-warning" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
            Filter
        </a>
    </div>
    <div class="p-2 bd-highlight ">
        <a class="btn btn-success" href="/club/create">Add contract</a>
    </div>
</div>

<div class="collapse <#if name!='' || phone!='' || contractNumber!=''>show</#if>" id="search">
    <form method="get" action="/club">
        <div class="form-row">
            <div class="form-group col-md-2 ml-3">
                <input type="text" class="form-control" name="name" value="${name!}" placeholder="Name">
            </div>
            <div class="form-group col-md-2">
                <input type="tel" class="form-control" name="phone" value="${phone!}" placeholder="Phone" >
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" name="contractNumber" value="${contractNumber!}" placeholder="Contract Number" >
            </div>
            <div class="form-group col-md-1">

                <button class="btn btn-outline-warning form-control" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
